@using Online_Store.Controllers;
@using System.Configuration;
@using Online_Store.Classes;
@{
    ViewBag.Title = "سبد خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Update", "ShoppingCart", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12" dir="rtl">
                    <ul class="breadcrumb">
                        <li>
                            <a href="@Url.Action("Index", "Home")">خانه</a>
                        </li>
                        <li>خرید</li>
                    </ul>
                </div>

                <div class="col-md-9" id="basket">

                    <div class="box">




                        <h1>سبد خرید</h1>
                        <p class="text-muted" id="update-message">
                            @*@for (int i = 0; i < Model.CartItems.Count; i++)
                                {

                                    @Html.ValidationMessageFor(model => model.CartItems[i].Count)

                                }*@
                        </p>
                        <div class="table-responsive" dir="rtl">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">محصول</th>
                                        <th>مقدار</th>
                                        <th>قیمت هر واحد</th>
                                        <th>تخفیف</th>
                                        <th colspan="2">مجموع</th>
                                    </tr>
                                </thead>

                                @{
                                        decimal s = 0;
                                        int index = 1;
                                }
                                @foreach (Item item in (List<Item>)Session["cart"])
                                {
                                    s = s + item.Pr.price * item.Quantity;
                                    <tbody>
                                        <tr>
                                            <td id="pic">
                                                <a href="#">
                                                    <img src="@item.Pr.name" alt="@item.Pr.name">
                                                </a>
                                            </td>
                                            <td> @item.Pr.name </td>
                                            <td>
                                                @*<input type="text" name="quantity" value="@item.Quantity "/>*@
                                                @Html.TextBox("quantity", item.Quantity)
                                            </td>
                                            <td> @item.Pr.price </td>
                                            <td> 0 </td>
                                            <td> @(item.Pr.price * item.Quantity) </td>
                                            <td>
                                                @*<a href="#" class="RefreshQuantity" id="update-clic" data-id="@item.RecordId"
                                                       txt-id="CartItems_@(ix)__Count">
                                                        محاسبه ی جمع مقدارها<i class="fa fa-refresh"></i>
                                                    </a>&nbsp;|&nbsp;*@
                                                @Html.ActionLink("حذف", "Delete", "ShoppingCart", new { id = item.Pr.productID }, new { @class = "fa fa-trash-o" })
                                            </td>
                                            @{ index++; }
                                        </tr>

                                    </tbody>
                                }
                                <tfoot>
                                    <tr>
                                        <th colspan="5">مجموع :</th>
                                        <th colspan="2" id="cart-total">
                                            @*@Model.CartTotal*@
                                        @s
                                    </th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.table-responsive -->

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="@Url.Action("Details","products")" class="btn btn-default"><i class="fa fa-chevron-left"></i> ادامه خرید</a>
                        </div>

                        <div class="pull-right">
                            @{
                             Session["janeshin"] = s;
                            }
                            <button type="submit" class="btn btn-default"><i class="fa fa-refresh"></i> محاسبه محموع</button>
                            <a href="@Url.Action("Proceed", "ShoppingCart")" class="btn btn-primary">
                                ثبت خرید
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>


                </div>
                <!-- /.box -->


                @*<div class="row same-height-row">
                    <div class="col-md-3 col-sm-6">
                        <div class="box same-height">
                            <h3>You may also like these products</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="img/product2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="img/product2.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="img/product1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="img/product1.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="img/product3.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="img/product3.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>

                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                </div>*@


            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">
                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>خلاصه پرداخت</h3>
                    </div>
                    <p class="text-muted">هارسال و بقیه چیزها حساب میشود</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>مجموعه سفارش</td>
                                    <th>در دست ساخت</th>
                                </tr>
                                <tr>
                                    <td>ارسال</td>
                                    <th>در دست ساخت</th>
                                </tr>
                                <tr>
                                    <td>مالیات</td>
                                    <th>$0.00</th>
                                </tr>
                                <tr class="total">
                                    <td>مجمعه</td>
                                    <th>
                                        @*@Model.CartTotal*@
                                    @s
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            @*<div class="box">
                <div class="box-header">
                    <h4>Coupon code</h4>
                </div>
                <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                            <button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

                                        </span>
                        </div>
                         /input-group
                    </form>
            </div>*@

        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</div>
</div>

}

