@using Online_Store.Classes;
@using Online_Store.Models
@{
    Layout = null;
    ApplicationDbContext db = new ApplicationDbContext();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<meta charset="utf-8">
        <meta name="robots" content="all,follow">
        <meta name="googlebot" content="index,follow,snippet,archive">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Obaju e-commerce template">
        <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
        <meta name="keywords" content="">*@

    <title>@ViewBag.Title - فروشگاه منوچهر کاتب</title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="~/Content/template/font-awesome.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/template/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/template/animate.min.css" rel="stylesheet">
    <link href="~/Content/template/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/template/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="~/Content/template/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="~/Content/template/custom.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.png">

</head>
<body>
    <div id="top">
        <div class="container">
            <div class="col-md-8 offer" data-animate="fadeInDown" dir="rtl">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">پیشنهاد روز</a>
                <a href="#">در دست ساخت</a>
            </div>
            @*@Html.Action("Login_Impact", "Account")*@
            @*@Html.Partial("_LoginPartial")*@
            @*@Html.RenderPartial("_LoginPartial")*@
            @*@RenderPage("_LoginPartial.cshtml")*@


        </div>
    </div>
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <img src="~/Content/img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="~/Content/img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="basket.html">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 کالاهای انتخاب شده </span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="@Url.Action("Index","Home")">خانه</a>
                    </li>


                    @foreach (var item in db.Types.ToList())
                    {
                        <li class="dropdown yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">@item.TypeName <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            @foreach (var item2 in db.Cats.Where(c => c.TypeId == item.TypeId).ToList())
                                            {
                                                <div class="col-sm-3">
                                                    <h5><a href="@Url.Action("catSelect", "products", new { catSelected = item2.CatId })">@item2.CatName</a></h5>
                                                    @*<ul>
                                                            <li>
                                                                <a href="category.html">T-shirts</a>
                                                            </li>
                                                            <li>
                                                                <a href="category.html">Shirts</a>
                                                            </li>
                                                            <li>
                                                                <a href="category.html">Pants</a>
                                                            </li>
                                                            <li>
                                                                <a href="category.html">Accessories</a>
                                                            </li>
                                                        </ul>*@
                                                </div>
                                            }
                                            <div class="col-sm-3">
                                                <div class="banner">
                                                    <a href="#">

                                                        <img src="~/Content/img/banner.jpg" class="img img-responsive" alt="">
                                                    </a>
                                                </div>
                                                <div class="banner">
                                                    <a href="#">
                                                        <img src="~/Content/img/banner2.jpg" class="img img-responsive" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.yamm-content -->
                                </li>
                            </ul>
                        </li>
                    }

                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    @{Html.RenderAction("CartSummary", "ShoppingCart");}
                </div>
                <!--/.nav-collapse -->
                @Html.Partial("search")


            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->
    <!-- *** NAVBAR END *** -->


@using (Html.BeginForm("Update", "ShoppingCart", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="all">

    <div id="content">
    <div class="container">

    <div class="col-md-12" dir="rtl">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">خانه</a>
            </li>
            <li>خرید</li>
        </ul>
    </div>

    <div class="col-md-9" id="basket">

        <div class="box">




            <h1>سبد خرید</h1>
            <p class="text-muted" id="update-message">
                @*@for (int i = 0; i < Model.CartItems.Count; i++)
                                    {

                                        @Html.ValidationMessageFor(model => model.CartItems[i].Count)

                                    }*@
            </p>
            <div class="table-responsive" dir="rtl">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">محصول</th>
                        <th>مقدار</th>
                        <th>قیمت هر واحد</th>
                        <th>تخفیف</th>
                        <th colspan="2">مجموع</th>
                    </tr>
                    </thead>

                    @{
                        decimal s = 0;
                        int index = 1;
                    }
                    @foreach (Item item in (List<Item>) Session["cart"])
                    {
                        s = s + item.Pr.price*item.Quantity;
                        <tbody>
                        <tr>
                            <td id="pic">
                                <a href="#">
                                    <img src="@item.Pr.name" alt="@item.Pr.name">
                                </a>
                            </td>
                            <td> @item.Pr.name </td>
                            <td>
                                @*<input type="text" name="quantity" value="@item.Quantity "/>*@
                                @Html.TextBox("quantity", item.Quantity)
                            </td>
                            <td> @item.Pr.price </td>
                            <td> 0 </td>
                            <td> @(item.Pr.price*item.Quantity) </td>
                            <td>
                                @*<a href="#" class="RefreshQuantity" id="update-clic" data-id="@item.RecordId"
                                                           txt-id="CartItems_@(ix)__Count">
                                                            محاسبه ی جمع مقدارها<i class="fa fa-refresh"></i>
                                                        </a>&nbsp;|&nbsp;*@
                                @Html.ActionLink("حذف", "Delete", "ShoppingCart", new {id = item.Pr.productID}, new {@class = "fa fa-trash-o"})
                            </td>
                            @{ index++; }
                        </tr>

                        </tbody>
                    }
                    <tfoot>
                    <tr>
                        <th colspan="5">مجموع :</th>
                        <th colspan="2" id="cart-total">
                            @*@Model.CartTotal*@
                            @s
                        </th>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.table-responsive -->

            <div class="box-footer">
                <div class="pull-left">
                    <a href="@Url.Action("Details", "products")" class="btn btn-default"><i class="fa fa-chevron-left"></i> ادامه خرید</a>
                </div>

                <div class="pull-right">
                    @{
                        Session["janeshin"] = s;
                    }
                    <button type="submit" class="btn btn-default"><i class="fa fa-refresh"></i> محاسبه محموع</button>
                    <a href="@Url.Action("Proceed", "ShoppingCart")" class="btn btn-primary">
                        ثبت خرید
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>


        </div>
        <!-- /.box -->


        @*<div class="row same-height-row">
            <div class="col-md-3 col-sm-6">
                <div class="box same-height">
                    <h3>You may also like these products</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product same-height">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="detail.html">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="back">
                                <a href="detail.html">
                                    <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="detail.html" class="invisible">
                        <img src="img/product2.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="text">
                        <h3>Fur coat</h3>
                        <p class="price">$143</p>
                    </div>
                </div>
                <!-- /.product -->
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product same-height">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="detail.html">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="back">
                                <a href="detail.html">
                                    <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="detail.html" class="invisible">
                        <img src="img/product1.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="text">
                        <h3>Fur coat</h3>
                        <p class="price">$143</p>
                    </div>
                </div>
                <!-- /.product -->
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="product same-height">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="detail.html">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="back">
                                <a href="detail.html">
                                    <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="detail.html" class="invisible">
                        <img src="img/product3.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="text">
                        <h3>Fur coat</h3>
                        <p class="price">$143</p>

                    </div>
                </div>
                <!-- /.product -->
            </div>

        </div>*@


    </div>
    <!-- /.col-md-9 -->

    <div class="col-md-3">
        <div class="box" id="order-summary">
            <div class="box-header">
                <h3>خلاصه سبد</h3>
            </div>
            <p class="text-muted">هزینه ارسال و بقیه چیزها همونطور که خواسته بودید حساب میشه.</p>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>مجموع سفارش</td>
                        <th>$446.00</th>
                    </tr>
                    <tr>
                        <td>ارسال</td>
                        <th>$00.00</th>
                    </tr>
                    <tr>
                        <td>مالیات</td>
                        <th>$0.00</th>
                    </tr>
                    <tr class="total">
                        <td>مجموع</td>
                        <th>
                            @*@Model.CartTotal*@
                            @s
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


        @*<div class="box">
            <div class="box-header">
                <h4>Coupon code</h4>
            </div>
            <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
            <form>
                                    <div class="input-group">

                                        <input type="text" class="form-control">

                                        <span class="input-group-btn">

                                                        <button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

                                                    </span>
                                    </div>
                                     /input-group
                                </form>
        </div>*@

    </div>
    <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
    </div>
    </div>

}

    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>صفحات دیگر</h4>

                    <ul>
                        <li>
                            <a href="@Url.Action("About","Home")">درباره ی ما</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Contact","Home")">ارتباط با ما</a>
                        </li>
                    </ul>

                    <hr>

                    <h4>قسمت کاربری</h4>

                    <ul>
                        @*<li>@Html.ActionLink("مدیریت کاربر " + User.Identity.GetUserName() + "!", "Index", "Manage",
                                routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>*@
                        <li>
                            <a href="@Url.Action("Reigster","Account")">عضویت</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>بهترین دسته بندی ها</h4>

                    <h5>آقایان</h5>

                    <ul>
                        <li>
                            <a href="category.html">تی شرت</a>
                        </li>
                        <li>
                            <a href="category.html">پیراهن</a>
                        </li>

                    </ul>

                    <h5>خانم ها</h5>
                    <ul>
                        <li>
                            <a href="category.html">تی شرت</a>
                        </li>
                        <li>
                            <a href="category.html">دامن</a>
                        </li>
                        <li>
                            <a href="category.html">شلوار</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>آدرس شرکت</h4>

                    <p>
                        <strong>تهران</strong>
                        <br>خیابان پیروزی
                        <br>کوچه دوم
                        <br>پلاک 5
                    </p>

                    <a href="@Url.Action("Contact","Home")">صفحه ارتباط با ما</a>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                    <h4>خبرهای سایت رو دریافت کنید</h4>

                    <p class="text-muted">اگر میخواهید از اخبار جدید سایت عقب نمانید ایمیل خود رو وارد کنید و مشترک شوید</p>

                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                <button class="btn btn-default" type="button">مشترک شوید</button>

                            </span>

                        </div>
                        <!-- /input-group -->
                    </form>

                    <hr>

                    <h4>کانال های ارتباطی دیگر</h4>

                    <p class="social">
                        <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->
    <!-- *** FOOTER END *** -->
    <!-- *** COPYRIGHT ***
    _________________________________________________________ -->
    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left">© @DateTime.Today.Year Manoochehr Kateb - منوچهر کاتب</p>

            </div>
            <div class="col-md-6">
                <p class="pull-right">
                    Template by <a href="http://bootstrapious.com/e-commerce-templates">Bootstrapious</a> with support from <a href="https://kakusei.cz">Kakusei</a>
                    <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
                </p>
            </div>
        </div>
    </div>
    <!-- *** COPYRIGHT END *** -->
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/bootstrap-rtl.min.js"></script>
    @*<script src="js/bootstrap.min.js"></script>*@
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/modernizr.js"></script>
    <script src="~/Content/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/front.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
</body>
</html>
